/* .pic-status{
    border-radius: 50%;  
    position: absolute;
    left: 10px;
    top: 6px;
    line-height: 1.5rem;
    max-width: 70%;
    max-height: 70%;
    border: 3px solid rgb(27, 102, 83)
} */

.color-green {
    background-color: #202C36
}

.tabs .tab a.active {
    color: #06AC99 !important;
}
.tabs .tab a {
    color: #8D96A0;
}

.tabs .tab .material-icons{
    font-size: 30px;
    padding-top: 7px;
}

.tabs .tab a:hover {
    color: rgb(0, 0, 0);
}

.tabs .indicator {
    background-color: rgb(255, 255, 255);
}

.collection .collection-item {
    background-color: #131D27 !important
}

.text-white {
    color: rgb(87, 87, 87) !important;
}

.border-color {
    border-color: #29343f !important;
}

.border-color-status {
    border-color: #29343f !important;
}

.conversas{
    overflow: scroll;
    background-color: #131D27
      
}

.tabs-content {
    height: 100vh;
}

.video{
    width: 100%; 
    height: 70vh;
    background-color: #131D27;
    
}

.telefone-icon{
    float: right;
    padding-top: 18px;
}

.btnConv{
    text-align: left;
    text-transform: unset !important;
    
}

.dropdown-content{
    width: 200px !important;
    left: -150px !important;
    overflow-x: hidden;
    position: relative !important; 
    top: 35px !important;
    background-color: #131D27;
    

}

.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #131D27
}

.aba-status{
  background-color: #131D27
}
.aba-chamadas{
    background-color: #131D27
  }

.navbar-fixed{
    background-color: #131D27;
    height: 41px; 
}

.att{
    font-weight: bold; 
    color: #a7a7a8;
    font-size: 14px !important
}

.statust{
    color: rgb(219, 219, 219);
}

.tyni{
    font-size: 18px;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
    color: rgb(214, 217, 219);
}

.border-color-status {
    border-color: #131D27 !important;
}

.pic-status{
    border-radius: 50%;  
    position: absolute;
    left: 10px;
    top: 6px;
    line-height: 1.5rem;
    max-width: 70%;
    max-height: 70%;
}