.color-green {
    background-color: #25624b
}

.tabs .tab a.active {
    color: white !important;
}
.tabs .tab a {
    color: white;
}

.tabs .tab .material-icons{
    font-size: 30px;
    padding-top: 7px;
}

.tabs .tab a:hover {
    color: rgb(0, 0, 0);
}

.tabs .indicator {
    background-color: rgb(255, 255, 255);
}

.collection .collection-item {
    background-color: #ffffff !important
}

.text-white {
    color: rgb(87, 87, 87) !important;
}

.border-color {
    border-color: #dddddd !important;
}

.conversas{
    overflow: scroll;
}

.tabs-content {
    height: 100vh;
}

.video{
    width: 100%; 
    height: 70vh;
    
}

.telefone-icon{
    padding-left:85%
}